.redBackGround{
	background-color:#FF0000;
	color:White;
}



		.defaultSpeechBubbleStyle{
			background-color:Blue;
    		
    		border-color:Black;
    		
    		border-style:solid;
    		
		}
		
		.foldSpeechBubbleStyle{
			background-color:Red;
    		border-color:Black;
    		border-style:solid;
    		
		}
		
		.checkcallSpeechBubbleStyle{
			background-color:Blue;
    		
    		border-color:Black;
    		
    		border-style:solid;
    		
		}
		.raiseSpeechBubbleStyle{
			background-color:Blue;
    		
    		border-color:Black;
    		
    		border-style:solid;
    		
		}
		
		.winnerSpeechBubbleStyle{
			background-color:Blue;
    		
    		border-color:Black;
    		
    		border-style:solid;
    		
		}
	
